body {
    background-color: rgba(58,53,49,255);
}

.navbar-custom {
    background-color: rgba(139,3,3,255);
}

.navbar-custom .navbar-brand, h1{
    color: white;
    text-shadow: 1px 1px 2px black;
    font-size: xx-large;
}

h2 {
    color: white;
    text-shadow: 1px 1px 2px black;
    font-size: x-large;
}

.nav .navbar-text {
    color: white;
    text-shadow: 1px 1px 2px black;
    margin-right: 10px;
}

a, p {
    color: white;
    text-shadow: 1px 1px 2px black;
    font-size: large;
}

a:hover {
    color: lightgrey;
}

ul {
    list-style: none;
}

#menu {    
    background-color: rgba(131,128,123,255);
    margin-top: 10px;
}

.title_input {
    max-width: 80%;
}


.catalog_entry {
    float: left;
    color: white;
    background-color: black;
    font-size: x-large;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    width: 150px;
    text-align: center;
    height: 200px;
}

.catalog_entry:hover {
    background-color: gray;
}

.tooltips {
    color: white;
    background-color: black;
    font-weight: bold;
    padding: 10px;
    margin: 5px;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    display:inline-flex;
    justify-content:center;
    align-items:center
}

.no_menu {
    text-align: center;
}
