header {
    background-color: rgba(139,3,3,255);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body {
    background-color: rgba(58,53,49,255);
}

.link {
    color: white;
    font-weight: bold;
    text-align: center;
    border-radius: 30px;
    text-shadow: 1px 1px 2px black;
    transition: all 0.2s ease;
}

.link:hover {
    background-color: beige;
}

#homepage {
    font-size: xx-large;
}

#topmenu {
    margin-right: 10px;
    font-size: large;
}

#topmenu a {
    padding-left: 10px;
    padding-right: 10px;

}

#menu {
    float: left;
    width: 20%;
    font-size: x-large;
    background-color: rgba(131,128,123,255);
    margin-top: 5px;
}

ul {
    list-style: none;
}

#content {
    float: left;
    width: 70%;
    padding-left: 10px;
    margin-left: 10px;
}

h1, h2 {
    margin-top: 0;
}

.catalog_entry {
    float: left;
    color: white;
    background-color: black;
    font-size: x-large;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    width: 150px;
    text-align: center;
    height: 200px;
}

.catalog_entry:hover {
    background-color: gray;
}

a {
    text-decoration: none;
}


@media screen and (max-width: 750px) {
    #menu {
        width: 100%;
    }
    #content {
        padding-top: 10px;
        width: 100%;
    }
}