{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block menu %}
{# overriding menu block from base.html so the page links do not show on registration page #}
{% endblock %}

{% block body %}
<h1>Register</h1>
<br>
<form method="POST" action="register_input">
    <input type="text" name="username" placeholder="Username" min="1" maxlength="20" required/>
    <br>
    <input type="password" name="password" placeholder="Password" min="1" maxlength="20" required/>
    <br>
    <input type="submit" name="submit" value="submit"/>
</form>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}
{% endwith %}
{% endblock %}